@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
body {
    font-family:'Roboto', sans-serif;
    font-size: 17px;
    font-weight:normal;
    color:  #0F141E;
    background: rgba(241, 241, 241, 0.7 );
}

.info {
    margin-bottom: 20px;
}

.info-text {
  display: inline-block;
   box-sizing: border-box;
}

.info-text p {
font-style: italic;
font-weight: bold ;
color: #86898f;
margin: 0px;
}

.info-text h4 {
    margin-bottom: 10px;
}

.card {
   border: 2px solid #e4e8ff; 
   border-radius: 25px;
   background-color: #e4e8ff;
    padding: 10px 15px;
    margin-bottom: 10px;
}
.card-2 {
    border: 2px solid #ede4ff;
    border-radius: 25px;
    background-color: #ede4ff;
    padding: 10px 15px;
    margin-bottom: 10px;
}

.container {
    max-width: 750px;
    margin: auto;
    padding-top: 30px;
}

.avatar {
    width: 200px;
    border-radius: 30px;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
}

.btn {
    background: #111;
    padding: 10px 30px;
    border-radius: 7px;
    color: #fff;
    font-size: 16px;
    border: none;
    cursor: pointer;
}   

.btn:hover {
    opacity: 0.8;
}

a {
    color: #111;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: cornflowerblue;
}

/* a:visited {
    color: gray;
} */

.table {
    width: 100%;
    text-align: left;
    padding-bottom: 10px;
}

  
.table td:nth-child(2),
.table td:nth-child(3) {
    color: rgba(0, 0, 0, 0.6);
}



.lists {
    list-style: decimal;
    padding: 0px 20px;
}

.lists li {
    margin-bottom: 10px;
    color: rgba(0, 0, 0, 0.7)
}

.display-1 {
    display: inline-block;
    box-sizing: border-box;
    margin-left: 30px;
  
   
}

.form h2 {
    text-align: center;
}


.form-grup label {
display: block;
font-size: 14px;
color: #86898f;
}
.form-grup input,
.form-grup textarea {
    width: 100%;
    box-sizing: border-box;
    border: none;
    background: transparent;
    border-bottom: 1px solid #ccc;
    color: #111;
    padding: 15px 0 10px;
    outline: none;
    font-family: inherit;
}


@media (max-width: 650px) {
    .container {
        text-align: center;
        display: block;
    }
}